/* src/Inventory.css */
.logo {
  width: 150px; /* Adjust as needed */
  height: auto;
  display: block;
  margin: 0 auto;
}
header {
  text-align: center;
  margin-bottom: 20px;
}

.inventory {
  text-align: center;
  margin-top: 50px;
}

.add-item {
  margin-bottom: 20px;
}

.add-item input {
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
}

.add-item button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

.add-item button:hover {
  background-color: #218838;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  font-size: 18px;
}

td {
  font-size: 16px;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

td button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
}

td button:hover {
  background-color: #c82333;
}

.total-quantity {
  margin-top: 20px;
  font-size: 20px;
}

.print-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.print-button:hover {
  background-color: #0056b3;
}

/* Print styles */
@media print {
  .add-item, .print-button, .inventory table {
    display: none;
  }
  
  .printable-receipt {
    display: block;
    text-align: left;
    width: 300px; /* Adjust width for POS receipt */
    margin: 0 auto;
  }

  .printable-receipt table {
    width: 100%;
    border-collapse: collapse;
  }

  .printable-receipt th, .printable-receipt td {
    font-size: 12px;
    border: none;
    padding: 4px;
  }

  .printable-receipt .total {
    margin-top: 10px;
    font-size: 14px;
  }
}